doctype
html
  head
    title #{title} - Tournoi de foot du CHRU
    link(rel='stylesheet', href='/css/bootstrap.css')
    meta(charset='utf-8')
  body
    header
      h1 #{title}
    .container
      .main-content
        block content
      .sidebar
        block sidebar
    footer
      p Running on node with Express, Jade and Stylus