extends layout
block emplacement
    .jumbotron
      .container
        h1 Tournoi du CHU
        p
          | Page en construction
        p
          a.btn.btn-primary.btn-lg(role='button') Revenir à l'accueil &raquo;