extend accueil2
block content
  p
    | Depuis maintenant 5 ans, est organisé
    | un tournoi de Foot à 6 au sein du CHRU
    | de Besançon.
  p
    | Voilà maintenant 2 ans qu'il n'a pas eu 
    | lieu, mais cette année, nous voulons lui 
    | redonner vie.
    | Inscrivez vous, et venez participer à cet 
    | événement sportif majeur de l'Hopital
    | de Besançon.
block sidebar
  .widget
    h1 A savoir
    p
      | Les inscriptions ouvriront à partir du 
      | 15 Mai 2016
    p
      | Merci pour votre soutien.
    p
      | Les organisateurs.
